.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head > tr > th {
  text-align: center;
}

.appearWindow {
  position: fixed;
  top: 50px;
  vertical-align: center;
  padding-left: 12%;
  margin-left: 10%;
  margin-top: 3%;
  height: 200px;
  width: 70%;
  z-index: 999;
  background-color: honeydew;
  opacity: 0.92;
  border: 1px solid gray;
}

.form {
  margin: 10px;
}

.inputInternalIndent {
  margin-bottom: 25px;
}

.copyrigth {
  position: absolute;
  bottom: 15px;
  left: 45%;
}

.selected {
  color: red;
}

.img_close {
  float: right;
}

.img_close_edit {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.delete {
  position: absolute;
}

.new_row {
  height: 33px;
  background-color: aqua;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: background-color 3s ease-in-out 15ms;
  animation: shadow 1.5s infinite ease;
}
